@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --main-font: 'Atkinson Hyperlegible', sans-serif;
  --color-offwhite: #eee;
  --color-black: #333;
  --color-lightgray: lightgray;
  --color-blue: #06a0f2;
  --color-bg-nav: rgb(249, 251, 252);
}

html,
body {
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

a:hover {
  box-shadow: 0 0 0 3px var(--color-blue);
  text-decoration: none;
  padding: 2px;
}

.navbar-logo {
  height: 35px;
  width: 35px;
}

.topNavBg {
  color: var(--color-black) !important;
  transition: all 2s;
  background-color: var(--color-bg-nav);
  border-bottom: 1px solid var(--color-lightgray);
}

.topNavBg ul li a {
  color: var(--color-black) !important;
}

.topNavBg ul li details summary {
  color: var(--color-black) !important;
}
