<section>
  <h2>About</h2>
  <div style="background-color: rgb(242, 247, 247); padding: 2rem">
    <p>
      Hello, my name is Arnel, and I'd like to welcome you to my internet site.
      As a web developer, I build front-end and back-end codes for websites. You
      can count on me to figure out problems, pay attention to details, and to
      get the job done right.
    </p>
  </div>
</section>
