<section>
  <h2>Contact</h2>
  <div>
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>Email</td>
        <td>example@sr.io</td>
      </tr>
      <tr>
        <td>Github</td>
        <td>example@sr.io</td>
      </tr>
    </table>
  </div>
</section>
