<section>
  <h2>Projects</h2>
  <div style="background-color: rgb(48, 110, 110); padding: 2rem">
    <table style="color: white">
      <tr>
        <th>Name</th>
        <th>Language</th>
      </tr>
      <tr>
        <td>January</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>January</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>January</td>
        <td>$100</td>
      </tr>
    </table>
  </div>
</section>
