<section style="background-color: rgb(249, 251, 252)">
  <div class="container" style="padding-top: 5rem; padding-bottom: 2rem">
    <div class="grid">
      <hgroup>
        <h2>Whoiam</h2>
        <h3>I build websites like this one for instance</h3>
      </hgroup>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet enim
        cumque, sequi sed assumenda cupiditate natus neque ducimus culpa
        eligendi iste facere tenetur optio animi laboriosam corporis repudiandae
        iusto suscipit hic, temporibus alias perspiciatis fugiat laborum ab? Sed
        dignissimos consequatur, labore nam cum consequuntur quas odit
        recusandae amet aspernatur minima corrupti aliquid veniam, aliquam totam
        perspiciatis repellendus earum quis temporibus molestiae impedit
        similique. Possimus quasi rem ratione eveniet, dolore cumque culpa
        explicabo, impedit sapiente voluptates laudantium voluptatem iste
        doloremque quas?
      </p>
    </div>
  </div>
</section>
