<section style="background-color: rgb(249, 251, 252);margin:0">
  <div class="container" style="padding-top: 4rem; padding-bottom: 3rem">
    <div class="grid">
      <hgroup>
        <h2>Contact</h2>
        <h3>Hire me</h3>
      </hgroup>
      <p>Email: example@sr.io</p>
      <p>Github: example@sr.io</p>
    </div>
  </div>
</section>
