<section>
  <div class="container" style="padding-top: 5rem; padding-bottom: 2rem">
    <hgroup>
      <h2>Projects</h2>
      <h3>My experiments</h3>
    </hgroup>
    <div class="grid">
      <article>
        <header>Header</header>
        <p>Body</p>
        <footer>Footer</footer>
      </article>
      <article>
        <header>Header</header>
        <p>Body</p>
        <footer>Footer</footer>
      </article>
    </div>
    <div class="grid">
      <article>
        <header>Header</header>
        <p>Body</p>
        <footer>Footer</footer>
      </article>
      <article>
        <header>Header</header>
        <p>Body</p>
        <footer>Footer</footer>
      </article>
    </div>
  </div>
</section>
