<section style="background-color: rgb(249, 251, 252)">
  <div class="container" style="padding-top: 5rem; padding-bottom: 2rem">
    <div class="grid">
      <hgroup>
        <h2>Whoiam</h2>
        <h3>I build websites like this one for instance</h3>
      </hgroup>
      <p>
        Hello, my name is Arnel, and I'd like to welcome you to my internet
        site. As a web developer, I build front-end and back-end codes for
        websites. You can count on me to figure out problems, pay attention to
        details, and to get the job done right.
      </p>
    </div>
  </div>
</section>
