---
import About from './About.astro';
import Projects from './Projects.astro';
import Contact from './Contact.astro'
---

<main class="main">
  <a id="about"></a>
  <About />
  <a id="projects"></a>
  <Projects />
  <a id="contact"></a>
  <Contact />
</main>

<style>
  .main {
    margin: 0;
    padding: 0;
  }
</style>
